/*
    SETTINGS.COLORS
    ----

    App wide colors united on sexy sass map
    Use getAppColor() function to extract color and
    tints and shades

    Notes: you can put single variables here if
    doesn't fit the getAppColor() pattern
* ==================================================== */


$app-colors-maps: (
    primary:(
        light: mix(#396FFC, white, 80%),
    	base: #396FFC,
        dark: mix(#396FFC, black, 80%),
    ),
    grayscale:(
        faint: rgba(0,0,0,0.1),
        heaven: #F6F6F6,
        lightsmoke: #F1F1F1,
        smoke: #EBEBEB,
        darksmoke: #e1e1e1,
        lightest: #A1A1A1,
        lighter: #555555,
        light: #333333,
		base: #1A1A1A
    ),
    danger: #EC465B,
    success: #00C766,
    info: #6A9EBE,
    warning: #F9A01B
);

$social-media-colors-map: (
    facebook: #365899,
    github: #333,
    twitter: #00aced,
);
