/*
    SETTINGS.GLOBALS
    ----
    
* ==================================================== */

$s-primary-font-family: Hans Grotesque, Helvetica Neue, Helvetica, sans-serif;
$s-secondary-font-family: Bebas Neue, sans-serif;
$s-base-font-family: Hans Grotesque, Helvetica Neue, Helvetica, sans-serif;
$s-base-font-size: 18px;
$s-base-font-line-height: 28px;
$s-baseline: $s-base-font-line-height;

$s-nav-sizes-map: (
	xs: 48px,
	sm: 56px,
	lg: 64px,
);