<footer class="o-app__footer c-footer">
	<div class="o-container">
		<div class="o-grid o-grid--flex-no-rows c-footer__sizer" data-align="middle">
			<div class="o-grid__item o-grid__item--@sm8 c-footer__block">
				<h3 class="c-logo c-logo--ws">
					logo
				</h3>
			</div><!--
			--><div class="o-grid__item o-grid__item--@sm4 c-footer__block">
				<!-- <small>Copyright© {{copyrightYear}}</small> -->
				<small></small>
				<ul class="o-list o-list--horizontal u-no-m-b">
					<li class="o-list__item">
						<a class="c-link c-link--small c-link--primary" href="https://twitter.com/whitesmithco" target="_blank"><span class="c-link__text">Twitter</span></a>
					</li><!--
					--><li class="o-list__item">
							<a class="c-link c-link--small c-link--primary" href="https://facebook.com/whitesmithco" target="_blank"><span class="c-link__text">Facebook</span></a>
						</li>
				</ul>

			</div>
		</div>
	</div>
</footer>