<article class="o-container">
	<div class="o-grid o-grid--flex-rowless" data-align="center">
		<header class="c-section s-typeset o-grid__item o-grid__item--@md11">
			<h1 class="u-ts-1">Hi, I’m Renato de Leão from Portugal, currently a cross-media designer, front-end developer and partner at <a href="https://whitesmith.co" target="_blank" class="c-link c-link--underlined">Whitesmith.</a>
			</h1>
			<br/>

			<p class="u-ts-1">I said currently, because I’ve proudly done a lot of other things in my life that made me <a href="/about" class="c-link c-link--underlined">who I am</a> today. That's why I don't like titles, they are limitating. Actually I don’t give a shit about titles. I do give a shit about my family & friend, CSS architecture, good design, typography, skateboard, snowboard, surf, travelling, eating and street art. Scarcely I write about life & technology and have this thing of not talking in the third person.</p>

		</header>

	</div>
</article>