<article class="o-page">
	<div class="o-grid o-grid--flex">
		<div class="o-grid__row">
			<header class="c-section s-typeset o-grid__item o-grid__item--@md10 o-grid__item--@md-offset-1">
				<h1 class="u-ts-1">Hi, I’m Renato de Leão from Portugal, currently a cross-media designer, front-end developer and partner at <a href="https://whitesmith.co" target="_blank" class="c-link c-link--underlined">Whitesmith.</a>
				</h1>
				<br/>

				<p class="u-ts-1">I said currently because I’ve proudly done a lot of other things in my life, that have nothing to do with the aforementioned titles and made me who I am today. That's why I don’t give a shit about titles, they are limiting. I do give a shit about my family & friends, CSS architecture, good design, typography, skateboard, snowboard, surf, travelling, eating and street art. Scarcely I write about life & technology and have this thing of not talking in the third person.</p>

				<p class="u-ts-1 u-color-grayscale--lightest">This site is a Work in Progress and proabably will be for a while. I was delaying this for the last three years, waiting for that perfect eureka portfolio idea plus super-duper personal branding, but finally realised that that day would probably never come. This is my way of putting an end to this endless cycle. Thanks for visiting, I'll try to be quick.</p>
			</header>
		</div>
	</div>
</article>
