/*
    BASE.FONTS
    ----
    
* ==================================================== */

/* Use mixin to include desired font, one mixin per weight/style pair */
//@include font-face($font-family: 'FontNAME', $file-path: 'fontPath', $font-weight: '500', $font-style: 'normal', $RoR: false);

@include font-face(
	$font-family: 'Hans Grotesque', 
	$file-path: '../assets/fonts/HansGrotesque/400/hans-grotesque-webfont', 
	$font-weight: '400', $font-style: 'normal', 
	$RoR: false, 
	$legacy: false );

@include font-face(
	$font-family: 'Bebas Neue', 
	$file-path: '../assets/fonts/HansGrotesque/700/bebas-neue-bold-webfont', 
	$font-weight: '700', $font-style: 'normal', 
	$RoR: false, 
	$legacy: false );

html{
	font-size: 100%;

	@include mappy-bp(md){
		font-size: 112.5%;
	}
}
body{
	font: normal 1rem/1.5555 Hans Grotesque, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: -0.01px;
	color: getAppColor('grayscale', 'base');
	 -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
  	font-kerning: normal;
    font-weight: 400;
    font-weight: normal;

    // @include mappy-bp(md){
    // 	font-size: 1.125rem;
    // }
}


::selection { background: getAppColor(primary); color: white; }

