/*
    OBJECTS.CONTAINER
    ----
    

    Wrapping content, to a limited size or now
==================================================== */

$container-sizes:(
	xxs: 480px,
	xs: 600px,
	sm: 100%,
	sml: 100%,
	md: 100%,
	mdl: 100%,
	lg: 1080px,
	xl: 1280px,
	xxl: 1440px 
);


.o-container{
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: {
		left: $s-baseline / 2;
		right: $s-baseline / 2;
	}

	@each $breakpoint, $size in $container-sizes{
		@include mappy-bp($breakpoint){
			max-width: $size;
		}
	}

	
	&--fluid{
		padding: {
			left: 0;
			right: 0;
		}
	}

	&--flex{
		display: flex;
	}

	&--flex-v{
		display: flex;
		flex-direction: column;
	}
}

.o-page{
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;

	@each $breakpoint, $size in $container-sizes{
		@include mappy-bp($breakpoint){
			max-width: $size;
		}
	}
	
	@include mappy-bp(sm){
		padding-left: 56px + $s-baseline/2;
	}
	@include mappy-bp(md){
		padding-left: 60px + $s-baseline/2;
	}

}