.c-footer{
	position: relative;
	background: white;
	border-top: 1px solid getAppColor(grayscale, darksmoke);

	.c-footer__block{
		text-align: center;
		margin-top: 12px;
		margin-bottom: 12px;
		@include mappy-bp(sm){
			text-align: left;
			margin:0;
		}

		&:last-child{
			@include mappy-bp(sm){
				text-align: right;
			}
		}
	}
}