.c-nav{
	position: relative;
	list-style: none;
	display: flex;
	font-family: $s-secondary-font-family;
	letter-spacing: 3px;	
	font-weight: 700;

	font-size: 0.75rem;
	overflow: auto;
	-webkit-oveflow-scrolling: touch;
}

.c-nav__item,
.c-nav__link{
	display: flex;
}

.c-nav__item{
	flex-shrink: 0;
}

.c-nav__link{
	align-items: center;
	white-space: nowrap;
	
	&.is-active,
	&:hover{
		color: getAppColor(primary);
	}

	.c-site-header__nav & {
		padding: 0 $s-baseline/2;
		@include mappy-bp(sm){
			padding: $s-baseline/2 0;
		}

		@include mappy-bp(lg){
			padding: $s-baseline 0;
		}
	}
}

.c-nav--primary{
	
}

.c-nav--secondary{
	width: 100%;

	.c-nav__item{
		padding: 0 $s-baseline/2;
	}
}