/*
    FOLDER.FILE
    ----
    
* ==================================================== */

.c-section{
	position: relative;
	width: 100%;
	padding: {
		top: $s-baseline;
		bottom: $s-baseline;
	};

	&:first-child{
		padding: {
			top: $s-baseline * 2;
		};
	}

	
	&:last-child{
		padding: {
			bottom: $s-baseline * 2;
		};
	}
}
	
	.c-section__row{
		margin-bottom: $s-baseline;

		@include mappy-bp(sm){
			margin-bottom: $s-baseline * 2;
		}
	}